<div class ='ui main text container segment'>
<div class ='ui huge header'>New User</div>
<p>All Fields Required</p>
<form class="ui form" action = '/user' method = 'POST'>
  <div class="field">
    <label>First Name</label>
    <input type="text" required name="first_name" placeholder='first_name'>
  </div>
  <div class="field">
    <label>Last Name</label>
    <input type="text" required name="last_name" placeholder='last_name'>
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" required name="email" placeholder='email'>
  </div>
  <div class="field">
    <label>Credit Card</label>
    <input type="text" required name="credit_card" placeholder='credit_card'>
  </div>
<input class='ui blue big basic button' type='submit'>
  </form> 
</div>